h1 {
    font-family: 'Arial';
}

img {
    width: 200px;
    height: auto;
}

#gameInfo {
    font-family: 'Comic Sans MS';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 102, 255);
}

#gameButton {
    text-align: center;
}